* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  height: 100vh;
  background-color: rgb(142, 141, 141);
}

.steps {
  background-color: rgb(211, 250, 250);
  border-radius: 15px;
  width: 600px;
  padding: 45px;
  margin: 100px auto;
}

.numbers {
  display: flex;
  justify-content: space-between;
}

.numbers>div {
  background-color: #bbb9b9;
  aspect-ratio: 1;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numbers .active {
  background-color: #7950f2;
  color: white;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px
}

.message>p {
  text-transform: uppercase;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.btn {
  font-size: 20px;
  padding: 10px 20px;
  color: white;
  background-color: #7950f2;
  border: none;
  border-radius: 5px;
}

.cross {
  border: none;
  background: none;
  font-size: 50px;
  font-weight: bolder;
  position: absolute;
  top: 10px;
  right: 250px;
  cursor: pointer;
}

.cross:hover {
  color: #7950f2;
  transform: scale(1.5);
}