html {
  box-sizing: border-box;
  font-size: 65%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Main part */
.app {
  min-height: 100vh;
  padding: 40px 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min(700px, 100%);
  border: 2px solid black;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
}

.heading span {
  border-radius: 71px;
  background-color: rgb(195 174 243);
  font-size: clamp(2rem, 4vw, 4rem);
  text-transform: uppercase;
  padding: 1rem 2rem;
}

.heading h2 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.heading p {
  font-size: 1rem;
}

.accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.accordionItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 2px solid black; */
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(31, 41, 55, 0.05);
  padding: 10px 24px;
}

.accordionQuestion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.accordionQuestion span {
  font-size: 1.7rem;
  cursor: pointer;
}

.accordionQuestion span:hover {
  color: rgb(178, 145, 255);
}

.accordionQuestion button {
  border: none;
  font-size: 3rem;
  border-radius: 50%;
  background-color: rgb(195 174 243);
  padding: 5px 14px;
  cursor: pointer;
}